/**
* Style for admininstration modules
*/
#admMenu{
	width:90%;
	margin: auto;
	height:20px;
	font-size: 12px;
	font-weight: bold;
	background-color: #2d2d2d;
	text-indent: 20px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #b87821;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 1px 2px #454949;
}

.pad-left-right {
		padding-left: 5px;
		padding-right: 5px;
}

.admLnk{
		font-family: Arial;
		text-decoration: underline;
		font-size: 13px;
		position: relative;
		top:2px;
		display: inline-block;
		padding-bottom: 5px;
}

.admUsers{
		border:1px solid;
		border-color: #ccc;
		text-indent: 5px;
		display: block;
}

.editUserField {
		height: 100%;
}

.editUserField select {
		width: 266px;
		height: 27px;
		border: none;
}

.editUserField input[type="text"] {
		padding-left: 5px;
		height: 27px;
		width: 266px;
		border: none;
}

.admEditUser {
		float: left;
		display: block;
}

#admLnk a{
	color: #E7E3B2;
}

.idname {
}

.idstatus {
}

.idtype {
		width: 60px;
}

.idedit {
		width: 45px;
		float: right;
}

.idlast {
}

.iduname {
		width: 50px;
}


.active {
		width: 60px;
		color: #1ebf1a;
}

.inactive {
		width: 60px;
		color: #c80000;
}

#border{
	border:1px solid;
}
#editUs{
	float:left;
}

#mainAdmContent{
	width:90%;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 3px;
	background-color: #f3f4f6;
}
#addUs{
	float: right;
}


.addUser {
    margin-top: 5px;
}


#updateUs{
	width: 200px;
}

.changePassWord {
		float: left;
}

.passwdBox {
	width: 80px;
	background-color: #e9ecef;
	border-right: 1px solid #ccc;
	padding: 5px;

}

.passWdTbl input[type="password"] {
		height: 27px;
		margin: 0;
		padding-left: 5px;
		border: none;
		width: 75%;
}

.passWdTbl {
		border: 1px solid #ccc;
		margin-bottom: 5px;
		display: flex;
}

#userEdit{
	display: inline-table;
}

/*
* Edit link on user admin page
*/
.uedit {
		float: right;
}

#status{
	float: right;
}

#customBtn{
	display: inline-table;
	margin: auto;
}
#customBtn a{
	color: #495f78;
}
#pagings{
	display: inline-table;
}
