@charset "utf-8";
/* CSS Document */

/**
* The style for email templates
*/
.template-list {
    display: flex;
}

.messages {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.mess-title {
    width: 20%;
}

.select-template {
    width: 80%;
    text-align: right;
}

.temp-select {
    width: 200px;
}

/**
* Style for mail links for selected case
*/
.case-mail {
	color: #1B5B8E !important;
	padding-right: 5px;
}

.email-lnks {
	border-bottom: 1px solid #C3C3C3;
	margin-bottom: 5px;
}

.sender {
	padding: 5px 0 5px 5px;
	border: 1px solid #C3C3C3;
}
.mail-info {
	padding: 5px 0 5px 5px;	
}
.mail-error {
    margin-bottom: 5px;
    border: 1px solid #CA5276;
    background-color: #F9DEE6;
}