/**
* The sidebar style
*/

.sidebar {
		width: 150px;
		background-color: #636161;
		border-right: 1px solid #ccc;
}

.side-lnk {
		background-color: #636161;
		font-size: 1em;
		color: #fff;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
}

.side-lnk:hover {
		background-color: #8C8B8B;
}
